* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bae7c4;
    line-height: 1.6;
}

header {
    background-color: #335334;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.texto {
    width: 100%;
    max-width: 800px;
    padding: 0 10px;
    text-align: justify;
    color: #202923;
}

.imagem {
    width: 100%;
    max-width: 600px;
    padding: 0 10px;
}

.imagem img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    background-color: #335334;
    color: white;
    text-align: center;
    padding: 20px;
}

.btn-topo {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
    font-size: 24px;
    background-color: #46b95f;
    color: white;
    padding: 10px 14px;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.btn-topo:hover {
    background-color: #3aa74f;
}


@media (max-width: 768px) {
    header h1 {
        font-size: 1.5rem;
    }

    .texto {
        font-size: 1rem;
    }

    .imagem {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .btn-topo {
        font-size: 20px;
        padding: 8px 10px;
        bottom: 20px;
        right: 20px;
    }

    header h1 {
        font-size: 1.2rem;
    }

    header h2 {
        font-size: 1rem;
    }

    .texto {
        font-size: 0.95rem;
    }
}